.autor{
    width: 50%;
    height: 50%;
    background-color:black;
    color: white;
    border: 5px;
    border-color: black;
    text-align: center;
}
.titulo{
    font-size: 60px;
    color: rgb(233, 109, 130);
    background-color: black;
    text-align: center;
}